#icone{
    padding: 0px;
     }
 
     .myItens {
        margin-left: 0.5%;
       text-decoration: none;
        height: 50px;
        width: 150px;
        margin-top: 30px;
        /*background-color: rgba(244,191,58);*/
          padding: 5px;
          color:rgba(244,191,58) ;
       border: solid 4px rgba(244,191,58);
        border-radius: 50px;
      
      }
  
      #itensEnd{
          flex-direction: row;
          justify-content: space-between;
          gap: 50px;
          padding-right: 5%;
      }
  
      #itensA{
            background-color: rgba(244,191,58) ;
           padding: 10px;
           border: none;
          a{
        text-decoration: none;
          color: rgba(65,55,108);
              }
      }
  
      #itensB{
          a{
          color: rgba(244,191,58);
           text-decoration: none;
      }}
  
     
 /*Home*/
 
 .backH {
            background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
            position: -1;
        }

        #bodyH {
            margin: 0;
            font-family: Poppins;
            color: black;
        }

     #menuH {
      font-size: 20px;
      /* padding-bottom: 10px;*/
      display: flex;
      font-weight: bold;
      justify-content: space-around;
      flex-direction: row;
      position: fixed;
      width: 100%;
      margin-top: 0px;
      z-index: 1;
      gap: 5px;
      text-align: center;
     
    }

    

    /*Login*/
    .backL {
        background-image: linear-gradient(to bottom, rgb(48,40,87)55%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
        position: fixed;
    }

    #bodyL {
       
        font-family: Poppins;
        width: 100vw;
        height: 100vh;
    }

   
    #containerFormL{
        background:rgba(244,191,58,50%);
        
        width: 40%; 
        height: 40%;
         margin: 4%;
    
    border-radius: 8px;
    color: #fff;
        color: white;
       a{
        color: white;
       }
    }

   
    #btnEntrarL{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:5% ;
        padding-right:5% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #userL, #passwordL{
        background-color: #44377d;
        border-color: #44377d;
        color: #f4bf3a;
       
    }



    /*cadastro*/
   

    .backC {
        background-image: linear-gradient(to bottom, rgb(48,40,87)55%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
    }

    #bodyC {
        margin: 0;
        font-family: Poppins;
    }

    #containerFormC{
        background:rgba(244,191,58,50%);
       
        width: 40%; 
       
         margin: 4%;
         padding-bottom: 20px;
    
    border-radius: 8px;
    color: #fff;
        color: white;
       a{
        color: white;
       }
    }

    
    #btnCadastrarC{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:5% ;
        padding-right:5% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #userC, #passwordC, #emailC {
        background-color: #44377d;
        border-color: #44377d;
        color: #f4bf3a;
       
    }






    /*Exercícios*/
    .backE {
        background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyE {
        margin: 0;
        font-family: Poppins;
        color:black;
    }

    #menuE {
        font-size: 20px;
        /* padding-bottom: 10px;*/
        display: flex;
        font-weight: bold;
        justify-content: space-around;
        flex-direction: row;
        position: fixed;
        width: 100%;
        margin-top: 0px;
        z-index: 1;
        gap: 5px;
        text-align: center;}

    /*Treinos*/
    .backT {
        background-image: linear-gradient(to bottom, rgb(48,40,87)45%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyT {
        margin: 0;
        font-family: Poppins;
        color:black;
    }

