 /*Home*/
 
 .backH {
            background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
            position: -1;
        }

        #bodyH {
            margin: 0;
            font-family: Poppins;
            color: black;
        }

     #menuH {
      font-size: 20px;
      /* padding-bottom: 10px;*/
      display: flex;
      font-weight: bold;
      justify-content: space-around;
      flex-direction: row;
      position: fixed;
      width: 100%;
      margin-top: 0px;
      z-index: 1;
      gap: 5px;
      text-align: center;
    }

    .itensH {
      margin-left: 0.5%;
     text-decoration: none;
      height: 50px;
      width: 150px;
      margin-top: 30px;
      /*background-color: rgba(244,191,58);*/
        padding: 5px;
        color:rgba(244,191,58) ;
     border: solid 4px rgba(244,191,58);
      border-radius: 50px;
    
    }

    #itensEndH{
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        padding-right: 5%;
    }

    #itensAH{
          background-color: rgba(244,191,58) ;
         padding: 10px;
         border: none;
        a{
      text-decoration: none;
        color: rgba(65,55,108);
            }
    }

    #itensBH{
        a{
        color: rgba(244,191,58);
         text-decoration: none;
    }}

    #iconeH{
   padding: 0px;
    }

    /*Login*/
    .backL {
        background-image: linear-gradient(to bottom, rgb(48,40,87),rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyL {
        margin: 0;
        font-family: Poppins;
    }

    /*cadastro*/
    .backC {
        background-image: linear-gradient(to bottom, rgb(48,40,87),rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyC {
        margin: 0;
        font-family: Poppins;
    }

    /*Exercícios*/
    .backE {
        background-image: linear-gradient(to bottom, rgb(48,40,87),rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyE {
        margin: 0;
        font-family: Poppins;
        color:black;
    }

    /*Treinos*/
    .backT {
        background-image: linear-gradient(to bottom, rgb(48,40,87),rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
    }

    #bodyT {
        margin: 0;
        font-family: Poppins;
        color:black;
    }

