#icone{
    padding: 0px;
     }

     .nav-link{
        color: #f4bf3a;
     }


 
     .myItens {
        margin-left: 0.5%;
       text-decoration: none;
        height: 50px;
        width: 150px;
        margin-top: 30px;
        /*background-color: rgba(244,191,58);*/
          padding: 5px;
          color:rgba(244,191,58) ;
       border: solid 4px rgba(244,191,58);
        border-radius: 50px;
      
      }
  
      #itensEnd{
          flex-direction: row;
          justify-content: space-between;
          gap: 50px;
          padding-right: 5%;
      }
  
      #itensA{
            background-color: rgba(244,191,58) ;
            border: solid 4px rgba(244,191,58);
           padding-top: 5px;
          
          a{
        text-decoration: none;
          color: rgba(65,55,108);
              }
      }

      #itensA:hover{
        border: solid 4px rgba(244,191,58);
        background-color: transparent;

        a{
        color:#f4bf3a;
      }}
  
      #itensB{
          a{
          color: rgba(244,191,58);
           text-decoration: none;
      }}

      #itensB:hover{
        background-color: rgba(244,191,58) ;
        a{
            color:rgba(65,55,108);
             text-decoration: none;
        }
      }

      @media (min-width:0px) and (max-width:768px) {
        #divBuddyL{
            display: none !important;
        }

        #divBuddyC{
            display: none !important;
        }

        #containerFormL{
          width: 95% !important;
          max-width:100%;
        }

        #containerFormC{
            width: 90% !important;
            max-width:100%;
        }
        
      }

      @media (max-width:799px) {
        #menuT, #menuE, #menuH{
            display: none !important;
        }
        
    }
    
    @media (min-width: 800px)  {
         #menuTsm, #menuHsm, #menuEsm{
               display: none !important;
               }  }  

      @media(min-width:0px) and (max-width:576px){
      #myCE{
         /* margin-left: 20%;*/
         
      }
    }

    /* @media (max-width: 768px) {
        #exContainer {
            width:90%;
            margin: 0 auto; 
        }
    }
    
    @media (max-width: 576px) {
        #exContainer {
            width: 90%; 
        }
    }
     */

   

        .offcanvas{
            background-color: #44377d;
        }
  
     
 /*Home*/

 #menuHsm{
    background-color: #312854;
 }
 
 .backH {
            background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
            position: -1;
        }

        #bodyH {
            margin: 0;
            font-family: Poppins;
            color: black;
        }

     #menuH {
    background-color: rgb(48,40,87);
      font-size: 20px;
      /* padding-bottom: 10px;*/
      display: flex;
      font-weight: bold;
      justify-content: space-around;
      flex-direction: row;
      /* position: fixed; */
      width: 100%;
      margin-top: 0px;
      z-index: 1;
      gap: 5px;
      text-align: center;
     
    }

     /* Garantir que cada seção ocupe 100% da altura da tela */
 .section {
    height: 100vh;
    width: 100vw;
   /* display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 2%;
}

/*.section:nth-child(odd) {
    background-color: #f0f0f0;
}

.section:nth-child(even) {
    background-color: #007bff;
    color: white;
}*/

/* Estilo do texto */
h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

#secao1{
   background: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
   display: flex;
   flex-direction: column;
}

#secao2{
  background: linear-gradient(to bottom, rgb(176,138,42) 45%, rgb(48,40,87));
  display: flex;
}

#secao3{
   background: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
   display: flex;
   flex-direction: column;
}

#secao4{
  background: linear-gradient(to bottom, rgb(176,138,42) 45%, rgb(48,40,87));
  display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.boraTreinar{
   
      border: solid 4px rgba(244,191,58);
      padding-top: 2%;
      padding-bottom: 2%;
       font-size: 20px;
         font-weight: bold;
         margin-top: 5%;
         a{
           color: #f4bf3a;
     text-decoration: none;  color: #f4bf3a;
     text-decoration: none; 
     font-size: 35px;
         }

 }

 .contFaleConosco{
  width: 90%;
 }


    /*Login*/
    .backL {
        background-image: linear-gradient(to bottom, rgb(48,40,87)55%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
        position: fixed;
    }

    #bodyL {
       
        font-family: Poppins;
        width: 100vw;
        height: 100vh;
    }

   
    #containerFormL{
        background:rgba(244,191,58,50%);
        
        width: 40%; 
        height: 40%;
         margin: 4%;
    
    border-radius: 8px;
    color: #fff;
        color: white;
       a{
        color: white;
       }
    }

   
    #btnEntrarL{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:5% ;
        padding-right:5% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #userL, #passwordL{
        background-color: #44377d;
        border-color: #44377d;
        color: #f4bf3a;
       
    }



    /*cadastro*/
   

    .backC {
        background-image: linear-gradient(to bottom, rgb(48,40,87)55%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: fixed;
    }

    #bodyC {
        margin: 0;
        font-family: Poppins;
        color:black;
        background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
        background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }

    #containerFormC{
        background:rgba(244,191,58,50%);
       
        width: 40%; 
       
         margin: 4%;
         padding-bottom: 20px;
    
    border-radius: 8px;
    color: #fff;
        color: white;
       a{
        color: white;
       }
    }

    
    #btnCadastrarC{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:5% ;
        padding-right:5% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #userC, #passwordC, #emailC {
        background-color: #44377d;
        border-color: #44377d;
        color: #f4bf3a;
       
    }






    /*Exercícios*/
    .backE {
      
    }

    #bodyE {
        margin: 0;
        font-family: Poppins;
        color:#dfa921;
       
        background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
        background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }

    #menuE {
        font-size: 20px;
        /* padding-bottom: 10px;*/
        display: flex;
        font-weight: bold;
        justify-content: space-around;
        flex-direction: row;
       /* position: fixed;*/
        width: 100%;
        margin-top: 0px;
        z-index: 1;
        gap: 5px;
        text-align: center;}

        #titleE{
          padding: 2%;
      
          color: #f4bf3a;  
        }
        .myContainerE{
            background-color: #44377d;
          padding: 20px;
          a,p{
            font-family: Poppins;
            color:#dfa921;
            text-decoration: none;
        }
        }

       
    /*Treinos*/
    .backT {
       
    }

    #bodyT {
        margin: 0;
        font-family: Poppins;
        color:#dfa921;
        background-image: linear-gradient(to bottom, rgb(48,40,87) 45%,rgb(176,138,42));
        background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }

    #myCT{

    }

    .myContainerT{
        background-color: #44377d;
        
          margin: 5%;
          a{
            font-family: Poppins;
            color:#dfa921;
            text-decoration: none;
        }

    }

    #titleT{
        padding: 2%;
      
        color: #f4bf3a;
    }

    #menuT{
        font-size: 20px;
        /* padding-bottom: 10px;*/
        display: flex;
        font-weight: bold;
        justify-content: space-around;
        flex-direction: row;
        /*position: fixed;*/
        width: 100%;
        margin-top: 0px;
        z-index: 1;
        gap: 5px;
        text-align: center;
    }

    .btnSalvarT{
        background-color: #44377d;
       
        border: 2px #f4bf3a solid;
        padding: 2%;
        margin-top: 5%;
        padding-left:10% ;
        padding-right:10% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
        

    }

    .btnSalvarT:hover{
        background-color: #f4bf3a;
        color: #44377d;
        a{
      color: #44377d;
        }
    }

    .contFiltrosT{
        background-color:#312854 ;
        color: #f4bf3a;
       
       padding: 8%;
       button{
        background-color:#312854 ;
        color: #f4bf3a;
       }
       
    }

 /* Estilo da borda do accordion */
.accordion-item{
    border-color: #f4bf3a; }


.accordion-button{
     color: #f4bf3a;
}


.accordion-button:focus {
    box-shadow: none ;
}


/* Estilo da setinha do accordion */
.accordion-button::after {
    color: #f4bf3a; /* Altere para a cor desejada */
}


.accordion-button:not(.collapsed) {
    background-color: #f4bf3a; 
    color:#312854;
}

.form-check-input:checked {
    background-color: #f4bf3a; /* Cor de fundo quando selecionado */
    border-color: transparent;
  
}

.form-check-input:focus {
    outline: none; /* Remove o outline padrão */
    box-shadow: 0 0 2px 3px #f4bf3a; /* Efeito de foco na cor desejada */
}


#btnMenu{
    color: #f4bf3a; 
    border-color: #f4bf3a; 
    
}

/*pgExercicio*/

#dificuldadeE{
         
    color: #44377d;
    margin-top: 5%;

    
  }

  #musculos_envolvidos{
    margin-bottom: 2%;
  }

  #contDifE{
    background-color: #f4bf3a;
  width: 20%; /* Diminua a largura */
  padding-left: 2%;
  padding-right: 2%; /* Reduza o padding */
  
  display: flex;
 align-items: center;
 justify-content: center;
 
  }

  #descricao{
    color: white;
    margin-right: 10%;
  }

  @media (max-width: 500px){
    #contDifE{
      padding-left: 4%;
  padding-right: 4%;
     width: 30%; 
     margin-left: 2%;
    }
  }

  /* pgTreino */

  .scroll-containerPE {
    width: 100%;
    overflow-x: auto; 
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #44377d;
    white-space: nowrap; 
      padding-bottom: 20px; 
}

.scroll-item {
    width: 200px; 
    color: white;
    padding: 1%;
    border-radius: 8px;
    text-align: center;
    flex: 0 0 auto;
}


.myContainerPE{
    background-color: #312854;
          padding: 20px;
          color: #f4bf3a;
          a{
            font-family: Poppins;
            color:#dfa921;
            text-decoration: none;
        }


}

.centralized-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}


/* Estilo da barra de rolagem */
.scroll-containerPE::-webkit-scrollbar {
    height: 8px; /* Define a altura da barra de rolagem horizontal */
    background-color: #312854; /* Cor de fundo da barra */
     /* border-radius: 10px; */
  	
}

/* Estilo do "thumb" (a parte que se move) */
.scroll-containerPE::-webkit-scrollbar-thumb {
    background-color: #f4bf3a; /* Cor do thumb */
    border-radius: 10px; /* Bordas arredondadas para o thumb */
}

#btnTreinar{
   background-color: #44377d;
       
      
        padding: 2%;
        margin-top: 5%;
        padding-left:7% ;
        padding-right:7% ;
        font-size: 30px;
        a{
        color: #f4bf3a;
        text-decoration: none;
        }
        
        font-weight: bold;

}
#btnTreinar:hover{
 background-color:#f4bf3a;
  a{
        color:  #44377d;
        text-decoration: none;
        }
 
}

#btnTreinarIA{
    background-color: #44377d;
        
       
         padding: 2%;
         margin-top: 5%;
         padding-left:7% ;
         padding-right:7% ;
         font-size: 30px;
         font-weight: bold;
           a{
        color: #f4bf3a;
        text-decoration: none;
        }
 
 }
 #btnTreinarIA:hover{
  background-color:#f4bf3a;
    a{
         color:  #44377d;
        text-decoration: none;
        }

 }


/*montagem de treinos*/
#inputReps, #inputSeries{
    background-color: #ebce84;
    border: none;
    color: #44377d;
  }

  .myContainerMT{
    background-color: #312854;
  padding: 20px;
  a,p{
    font-family: Poppins;
    color:#dfa921;
    text-decoration: none;
}
}

#nomeTreino{
    background-color:#f4bf3a;
    color: #312854;
    border-color: #f4bf3a;
}

/* pagamento */
 .backP {
        background-image: linear-gradient(to bottom, rgb(48,40,87)55%,rgb(176,138,42));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        position: -1;
        position: fixed;
    }

    #bodyP {
       
        font-family: Poppins;
        width: 100vw;
        height: 100vh;
    }

   
    #containerFormP{
        background:rgba(244,191,58,50%);
        
        width: 40%; 
        height: 40%;
         margin: 4%;
    
    border-radius: 8px;
    color: #fff;
        color: white;
       a{
        color: white;
       }
    }

   
    #btnAssinar{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:5% ;
        padding-right:5% ;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #cpf, #nomeCartao, #nCartao, #mesExp, #anoExp, #cvv{
        background-color: #44377d;
        border-color: #44377d;
        color: #f4bf3a;
       
    }

 /* treino guiado */

    #btnFimSerie{
        background-color: #44377d;
        border-radius: 40%;
        border: none;
        padding: 3%;
        padding-left:7% ;
        padding-right:7%;
        font-size: 20px;
        color: #f4bf3a;
        font-weight: bold;
    }

    #btnFimSerie:hover{
        background-color:  #f4bf3a;
        border-radius: 40%;
        border: none;
        padding: 3%;
        padding-left:7% ;
        padding-right:7% ;
        font-size: 20px;
        color:#44377d;
        font-weight: bold;
    }

    #containerTG{


    }

    /* 
    treino IA */

     #btnTIAl{
        background-color:#dfa921;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:7% ;
        padding-right:7% ;
        font-size: 20px;
        color:#44377d;
        font-weight:bold;
    }

     #btnTIAs{
        background-color:#dfa921;
        border-radius: 40%;
        border: none;
        padding: 2%;
        padding-left:7% ;
        padding-right:7% ;
        font-size: 20px;
        color:#44377d;
        font-weight:bold;
    }


  